<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Brewgle</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">About BrewFindr</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-8 small-centered columns">
    <form class="search">
      <fieldset>
        <label for="name">
          <input type="search" name="name" placeholder="Search for beer!">
        </label>
      </fieldset>
    </form>
  </div>
</div>

<script type="text/html" class="index">
<div class="title-div">
  <h1 class="title"> <span class="blue">B</span><span class="red">r</span><span class="yellow">e</span><span class="blue">w</span><span class="green">g</span><span class="red">l</span><span class="blue">e</span></h1>
</div>

<div id="container">
  <div class="pour"></div>
  <div id="beaker">
    <div class="beer-foam">
      <div class="foam-1"></div>
      <div class="foam-2"></div>
      <div class="foam-3"></div>
      <div class="foam-4"></div>
      <div class="foam-5"></div>
      <div class="foam-6"></div>
      <div class="foam-7"></div>
    </div>
    
    <div id="liquid">
      
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
      <div class="bubble bubble5"></div>
    </div>
  </div>
</div> 
</script>

<script type="text/html" class="all-results">
  <div class="row all-results-view">
    <h1> Did You Mean? </h1>
  </div>
  <ul class="results"></ul>
</script>

<script type="text/html" class="search-result"> 
  <div class="small-6 small-centered columns"> 
    <a><%%= this.model.get("name") %></a>
  </div>
</script>

<script type="text/html" class="single-beer"> 
  <div class="row">
    <div class="large-16 columns">
      <h1><%%= this.model.get("name") %></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <p> <span class="attributes">Style: </span> <%%= this.model.get("style") %></p>
      <p> <span class="attributes">ABV:</span> <%%= this.model.get("abv") %>%</p>
      <p> <span class="attributes">IBUs:</span> <%%= this.model.get("ibu") %></p>
      <p class="organic<%%= this.model.get("isOrganic") %>"><span class="attributes">Organic?</span> <%%= this.model.get("isOrganic") %></p>
      <p> <span class="attributes">Availability:</span> <%%= this.model.get("available") %></p>
      <p> <span class="attributes">A Little Bit About This Beer: </span> <%%= this.model.get("description") %></p> 
      <p><%%= this.model.get("styleDescription") %></p>
      <p> <span class="attributes">Food Pairings: </span><%%= this.model.get("foodPairings") %></p>
    </div>
    <div class="large-6 columns extra-info">
      <img src="<%%= this.model.get("label") %>" >
      <div class="<%%= this.model.get("glass") %>"></div>
      <h3> If you enjoy this beer you might want to try these! </h3>
    </div>
  </div>
</script>

<script type="text/html" class="single-rec-result"> 
  <a><%%= this.model.get('name') %></a>,
</script>










