<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Brewgle</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
       <li class="has-dropdown">
        <a href="#">Account</a>
        <ul class="dropdown">
          <li><%= link_to 'Sign In', new_session_path %><li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <% if logged_in? %>
            <li><%= link_to 'Logout', session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-8 small-centered columns">
    <form class="search">
      <fieldset>
        <label for="name">
          <input type="search" name="name" placeholder="Search for beer!">
        </label>
      </fieldset>
    </form>
  </div>
</div>

<script type="text/html" class="index">
<div class="title-div">
  <h1 class="title"> <span class="blue">B</span><span class="red">r</span><span class="yellow">e</span><span class="blue">w</span><span class="green">g</span><span class="red">l</span><span class="blue">e</span></h1>
</div>

<div id="container">
  <div class="pour"></div>
  <div id="beaker">
    <div class="beer-foam">
      <div class="foam-1"></div>
      <div class="foam-2"></div>
      <div class="foam-3"></div>
      <div class="foam-4"></div>
      <div class="foam-5"></div>
      <div class="foam-6"></div>
      <div class="foam-7"></div>
    </div>
    
    <div id="liquid">
      
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
      <div class="bubble bubble5"></div>
    </div>
  </div>
</div> 
</script>

<script type="text/html" class="all-results">
  <div class="row all-results-view">
    <h1> Did You Mean? </h1>
  </div>
  <div class="small-10 large-centered columns">
  <ul class="results"></ul>
  </div>
</script>

<script type="text/html" class="search-result"> 
    <ul class="result-details">
      <li> <img class="result-icons" src="<%%= this.model.get("icon") %>" width="80"%> </li>
      <li> <%%= this.model.get("name") %> </li>
      <li> <%%= this.model.get("style") %> </li>
    </ul>
</script>

<script type="text/html" class="single-beer"> 
  <div id="style-modal" class="reveal-modal" data-reveal>
    <h2><%%= this.model.get("style") %></h2>
    <p><%%= this.model.get("styleDescription") %></p>
    <canvas id="abv-chart" width="300" height="400"></canvas>
    <canvas id="srm-chart" width="300" height="400"></canvas>
    <canvas id="ibu-chart" width="300" height="400"></canvas>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="brewery-modal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div class="row">
    <div class="large-16 columns">
      <h1><%%= this.model.get("name") %></h1>
    </div>
  </div>
  <div class="row">
      <div class="large-7 columns main-info">

        <h3> Style: <a class='style-modal' data-reveal-id="style-modal"> <%%= this.model.get("style") %></a></h3>
        <div class="glass">     
          <h3 style="float:left"> Served In: </h3> 
          <div class="<%%= this.model.get("glass") %>"/>
        </div>      
        <h3> ABV: <%%= this.model.get("abv") %>% </h3> 
        <h3> IBUs: <%%= this.model.get("ibu") %></h3>
        <h3> Organic? <%%= this.model.get("isOrganic") %></h3>
        <h3> Availability: <%%= this.model.get("available") %></h3>
        <h3> A Little Bit About This Beer: </h3>
          <p><%%= this.model.get("description") %></p> 
        <h3> Food Pairings: </h3> 
          <p><%%= this.model.get("foodPairings") %></p>
           <h3> If you enjoy this beer you might want to try these! </h3>
  
    </div>
    <div class="large-5 columns extra-info">
      <img class="beer-label" src="<%%= this.model.get("label") %>" >
      <h3> Brewed at <%%= this.model.get("brewery") %> </h3>
      <ul class="brewery-address">
        <li> <%%= this.model.get("breweryStreet") %> </li>
        <li> <%%= this.model.get("breweryCity") %>, <%%= this.model.get("breweryState") %> <%%=this.model.get("breweryZip") %> </li>
      </ul>
      <div id="map-canvas"/>
    </div>
  </div>

  
    
  </div>

</script>

<script type="text/html" class="single-rec-result"> 
  <a><%%= this.model.get('name') %></a>
</script>












