<form class="search">
  <fieldset>
    <legend>Search</legend>
    <label for="name">
      Title:
      <input type="search" name="name" placeholder="Search for beer!">
    </label>

    <button>Search</button>
  </fieldset>
</form>

<div class="all-results">
  <h1> Did You Mean? </h2>
</div>
<script type="text/html" class="search-result"> 
   <a><%%= this.model.get("name") %></a>
</script>

<script type="text/html" class="single-beer"> 
 <p><%%= this.model.get("name") %></p>
</script>










