<form class="search">
  <fieldset>
    <legend>Search</legend>
    <label for="name">
      Title:
      <input type="search" name="name" placeholder="Search for beer!">
    </label>

    <button>Search</button>
  </fieldset>
</form>

<div class="all-results">
  <h1> Did You Mean? </h2>
</div>
<script type="text/html" class="search-result"> 
   <a href="beer/?q=<%%= this.model.get('id') %>" ><%%= this.model.get("name") %></a>
</script>










