/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require foundation_and_overrides
*= require_self

 *= require_tree .
 */

body {

}

h1 {
  font-size: 100px;
}

.top-bar {
  color: light-blue;
}

.results a {
  font-size: 30px;
  text-align: center;
}

p {
 font-size: 16px;
 color: grey;
}

.attributes {
  color: black;
  font-weight: bold; 
  font-size: 18px;
}

.all-results-view {
  text-align: center; 
}

.results {
 list-style: none;
 text-align: center;
}

img {
  text-align: center;
  margin-left: 65px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid black;
}

.pint {
  height: 400px;
  background-image: url("/assets/new_pint_glass.png");
  background-repeat: no-repeat;
}

.mug {
  margin-left: 33px;
  height: 400px;
  background-image: url("/assets/new_beer_mug.png");
  background-repeat: no-repeat;
}

.flute {
  background-image: url("/assets/new_flute_glass.png");
  background-repeat: no-repeat;
}

.pilsner {
  height: 400px;
  background-image: url("/assets/pilsner.png");
  background-repeat: no-repeat;
}

.snifter {
  height: 400px;
  background-image: url("/assets/snifter.png");
  background-repeat: no-repeat;
}

.tulip {
  height: 400px;
  background-image: url("/assets/tulip.png");
  background-repeat: no-repeat;
}

.recommendation-list {
  margin: 0;
  list-style: none;
  font-size: 20px;
}

.recommendations {
  float: left;
  margin-right: 18px;
}










